
<div class="container ">
    <div class="row">
        
      <div *ngFor="let p of products" class="col-md-4">
          
          <div class="card bg-info text-light">
              
            <img src={{p.image}} class="card-img-top" alt="" />
            <div class="card-body">
                <h5 class=" text-center">{{p.name | uppercase}}</h5>
                <h6 class="text-center">PRICE :  ₹ {{p.price}}</h6>
                <h6 class="text-center">
                  RATING : {{p.rating}}
                </h6>

              </div>
      </div>
    </div>
</div>