

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HOME</title>
</head>
<body>
    <div class="container-fluid px-5 py-1">
        <h4 class="text-center ">HOME</h4>
        <div class="row ">
            <div class="col"> 
        <img class="img-fluid rounded" width="100%"src="https://www.freevector.com/uploads/vector/preview/28426/Fashion_background_vector_1.jpg"/>
            </div>
        <div class="col"> 
        <img class="img-fluid rounded" width="83%"src="https://previews.123rf.com/images/mikhaylovaelen/mikhaylovaelen1110/mikhaylovaelen111000011/11052962-set-of-women-fashion-clothes-ans-accessories-over-floral-background.jpg"/>
            </div>
        </div>
          <div class="alert alert-info mt-3 ">
            Up to 50% off | Photography essentials</div>

          <div class="row ">
              <div class="col-4">                 
                    <div class="alert alert-info  ">
                        Starting ₹199 + Extra up to ₹700 cashback</div>
              </div>
              <div class="col-4">                 
                  <div class="alert alert-info  ">
                    Amazon Pay | Book your travel tickets </div>
              </div>
              <div class="col-4">
                <div class="alert alert-info  ">
                    Sign in for your best experience </div>
            </div>
           </div>
           <div class="alert alert-info  ">
            Up to 45% off | Shop by Pet</div>
      </div>      
      <footer class="alert alert-primary m-0 p-1 text-center">
          DESIGNED BY DHIVYA E
      </footer>
</body>
</html>






